* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Alexandria', sans-serif;
  font-size: 62.5%;
  letter-spacing: 2px;
  color: #f8f9fa;
}

body {
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-color: #f1f3f5;
}

main {
  margin-top: 25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}

.player {
  position: relative;
  width: 40rem;
  height: 50rem;
  text-align: center;
  padding: 3.2rem;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  background-image: linear-gradient(
    -225deg,
    hsl(243, 100%, 92%) 0%,
    hsl(240, 100%, 76%) 100%
  );
}

.player::after {
  content: '🔴';
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
}

.player--active::after {
  content: '🟢';
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
}

.player--1 {
  background-image: linear-gradient(
    -225deg,
    hsl(243, 100%, 82%) 0%,
    hsl(240, 100%, 66%) 100%
  );
}

.player--winner {
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
}

.name {
  margin-top: 2.4rem;
  font-size: 3.6rem;
  text-shadow: 0 2px 2px#212529;
}

.score {
  margin-top: 4.8rem;
  font-size: 6.2rem;
  font-weight: 700;
  text-shadow: 0 2px 2px#212529;
}

.current-label {
  margin-top: 12.8rem;
  font-size: 2rem;
  text-shadow: 0 2px 2px#212529;
}

.current-score {
  margin-top: 2.4rem;
  font-size: 3rem;
  text-shadow: 0 2px 2px#212529;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn {
  display: inline-block;
  width: 18rem;
  padding: 1.2rem;
  border-radius: 8px;
  margin: 0 auto;
  border: 1px solid transparent;

  font-family: inherit;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.1s ease;
  background-color: #f8f9fa;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn::first-letter {
  font-size: 2.4rem;
}

.btn:hover {
  background-color: #f1f3f5;
}

.btn:active {
  transform: translateY(0.3rem);
  background-color: #dee2e6;
}

.dice {
  display: block;
  margin: 0 auto;
  width: 15.8rem;
  height: 15.8rem;
}

.hidden {
  display: none;
}

/* - FONT SIZE SYSTEM (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
